@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

/* VARIABLES CSS */
:root {
  --clr-text-cta: hsl(356, 100%, 66%);
  --clr-text-headings: hsl(208, 49%, 24%);
  --clr-text-footer: hsl(240, 2%, 79%);
  --clr-text-body: hsl(207, 13%, 34%);
  --clr-bg-cta: hsl(355, 100%, 74%);
  --clr-bg-footer: hsl(240, 10%, 16%);
  --clr-white: hsl(0, 0%, 100%);

  --gradient-cta: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  --gradient-body: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --ff-ubuntu: "Ubuntu", sans-serif;
  --ff-overpass: "Overpass", sans-serif;

  --z-fixed: 100;
  --header-height: 3.5rem;
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-overpass);
  color: var(--clr-text-body);
}

.section {
  padding-block: 6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  color: var(--clr-text-headings);
}

p {
  line-height: 1.5;
}

/* REUSABLE CSS CLASSES */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.button {
  width: 136px;
  padding-block: 0.825rem;
  font-size: 17px;
  border-radius: 10rem;
  font-weight: var(--fw-600);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.white {
  color: var(--clr-white);
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
}

/* NAV */
.nav {
  height: calc(var(--header-height) + 2.5rem);
  padding-top: 2.5rem;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 82px;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* NAVIGATION FOR MOBILE DEVICES */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 1.5rem;
    width: calc(100% - 3rem);
    top: 6.5rem;
    background-color: var(--clr-white);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
}

.nav__list {
  padding: 2rem 1.5rem;
}

.nav__link {
  color: var(--clr-text-headings);
  font-size: 1.125rem;
  font-weight: var(--fw-600);
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  text-align: center;
}

/* ul li:nth-child(3) {
  border-bottom: 2px solid #efeff1;
  padding-bottom: 1.25rem;
} */

.login-btn {
  margin-top: 1rem;
  padding-top: 1.25rem;
  border-top: 2px solid #efeff1;
}

/* SHOW MENU */
.show-menu {
  opacity: 1;
  top: 7.5rem;
  pointer-events: initial;
}

/* SHOW/HIDE ICON */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* DROPDOWN MENU */
.dropdown__menu {
  background-color: #efeff1;
  border-radius: 5px;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.dropdown__item,
.dropdown__link {
  cursor: pointer;
}

.dropdown__item:hover .dropdown__menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

.dropdown__arrow {
  transition: transform 0.4s;
}

.dropdown__link {
  display: block;
  padding-top: 1.25rem;
  color: var(--clr-text-body);
}

.dropdown__link:hover {
  color: var(--clr-text-headings);
}

li:last-of-type .dropdown__link {
  padding-bottom: 1.25rem;
}

.signup {
  background: var(--gradient-cta);
  color: var(--clr-white);

  margin-inline: auto;
}

/* HERO */
.hero {
  padding-block: 12.5rem 9rem;
  color: var(--clr-white);
  text-align: center;
  background: url("../images/bg-pattern-intro-mobile.svg"),
    linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-bottom-left-radius: 8rem;
  background-position: 39% 27%;
  background-size: 80rem;
}

.hero__container {
  grid-template-columns: 290px;
  justify-content: center;
}

.hero__title {
  font-size: 2rem;
  color: var(--clr-white);
}

.hero__desctiption {
  font-size: 1.125rem;
}

.hero__btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.btn-fill {
  background-color: var(--clr-white);
  color: var(--clr-text-cta);
}

.btn-empty {
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
}

/* DESIGNED SECTION */
.designed__title {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 4rem;
}

.designed__img {
  scale: 1.25;
  margin-inline: auto;
}

.designed__content {
  text-align: center;
  margin-top: 3rem;
}

.designed__content-title {
  font-size: 1.725rem;
  margin-bottom: 1.25rem;
}

.designed__content-description {
  font-size: 1.05rem;
}

.designed__content article:first-child {
  margin-bottom: 3rem;
}

/* ART */
.art {
  padding-top: 10rem;
}

.art__header {
  color: var(--clr-white);
  text-align: center;
  position: relative;
  padding-block: 13rem 6.5rem;
  background-image: url("../images/bg-pattern-circles.svg"),
    linear-gradient(to bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-size: 150vw 150vw, auto auto;
  background-position: center -64vw, center center;
  border-bottom-left-radius: 8rem;
  border-top-right-radius: 8rem;
}

.art__header-title {
  color: var(--clr-white);
  font-size: 2.25rem;
  margin-bottom: 1.625rem;
}

.art__phones {
  position: absolute;
  transform: translateY(-50%);
}
